/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .avatar-image {
    float: left;
    width: 30%;
  }
  .publisher-info-anonym {
    float: left;
    margin-top: 3%;
    margin-left: -3%;
    text-align: left;
  }
  .square {
    width: 15px;
    height: 15px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .publisher-info-anonym {
    float: left;
    margin-top: 3%;
    margin-left: 2%;
    text-align: left;
  }
  .square {
    width: 100px;
    height: 100px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .time-capsule-block {
    width: 86%;
    margin-left: 7%;
  }

  .publisher-info-anonym {
    float: left;
    margin-top: 3%;
    text-align: left;
  }
  .square {
    width: 100px;
    height: 100px;
  }
}
.Countdown {
  margin: 10px auto;
  padding-bottom: 20px;
}

.Countdown-col {
  display: inline-block;
}

.Countdown-col-element {
  display: inline-block;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong {
  font-size: 50px;
}
